<!-- -*- engine:django -*- -->

<!DOCTYPE html>
<html lang="en" class="example">
  <head>
    <title>OCR a file</title>
    <link rel="stylesheet" href="/css/Skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/Skeleton/css/normalize.css">
    <link rel="stylesheet" href="/css/web-app.css">
    <link rel="stylesheet" href="/css/duct.css">
  </head>
  <body>
    <h1>OCR a pdf or image with tesseract</h1>
    <!-- <p>upload a pdf or image file to OCR</p> -->
    {% if ocr-exists %}
    <p> File {{ ocr-file }} created, scanned in language(s)
      {% if ocr-langs-full %}<code>{{ocr-langs-full|join:", "}}</code>
      {% endif %}.<br>
      <a href="/download" download="{{ocr-file}}">
        <input class="button-primary" type="submit" value="Download OCR file" /></a>
    </p>
    {% endif %}

    {% if exists %}
    <table>
      <tr>
        <td>File<code>{{ file }}</code> uploaded.
          <br>Size is:  <code>{{ size }}</code></td>
        <td>Command ouput or error:
          <p><p style="font-size: 14px">
            {{ err|linebreaks-br|safe }}
          </p>
        </td>
      </tr>
    </table>

    <p>
    <a href="/" method="get">
        <input class="button" type="submit" value="start over" /></a>
    <h5>Or OCR scan another file:</h5>
    {% endif %}

    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="file"/>
      {% if nofile %}
      Error: you need to choose a file.
      {% endif %}
      <p>
      <p>Language(s) of file to OCR scan:<br>
        {% for lang in tess-langs-map %}
        <label class="label">
          <input type="checkbox" id="lang" name="langs[]" value="{{lang|first}}"
                 {% if lang|first = "eng" %}checked{% endif %}>
          <span class="label-body">{{lang|last}}</span>
        </label>
        {% endfor %}
        <br>
        <input class="button-primary" type="submit" value="submit files"/>
    </form>
  </body>
</html>
