<!DOCTYPE html>
<html lang="en" class="example">
  <head>
    <title>Example compojure project</title>
    <link rel="stylesheet" href="/css/Skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/web-app.css">
  </head>
  
  <body>
    <h1>File uploaded and converted</h1>
      <p>
      {{ % if ocr-exists % }}
      File {{ ocr-file }} created.
      <a href="/" download="{{ocr-file}}">
        <button class="button-primary" type="button">Download</button>
      </a>
      {{ % endif % }}


  
  </body>
</html>
