
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}

body {
    width: 44em;
    max-width: 800px;
    margin: 1em auto;
    /* margin: 0 auto; */
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;
    background-color: gray
}

/* code { */
    /* font-size: 14px */
/* } */

table {
    border-spacing: 10px;
}

th, td {
    padding-left: 30px;
    padding-right: 30px;
}

/* th, td { */
/* border: 1px solid black; */
/* border-radius: 10px; */
/* text-align: center; */
/* } */
